body {
    background-color: ghostwhite;
    font-family: "Century Gothic";
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px gray;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}
nav a{
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 25px;
    transition: .7s;
    &:hover {
        background-color: cornflowerblue;
        color: white;
    }
}
nav, .logo {
    margin: 0 50px;
}
nav a.active{
    color: cornflowerblue;
    pointer-events: none;
}
nav .adminLogged {
    margin-left: 20px;
}
nav a.btnLogin {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 30px;
    &:hover {
        background-color: skyblue;
        color: black;
    }
}
main {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
main section.top, main section.bottom {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
section.top .event, section.bottom .event {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    background-color: white;
    width: 70%;
    margin: 50px 0 0 0;
    transition: .5s;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px gray;
    &:hover{
        box-shadow: 0px 0px 50px cornflowerblue;
    }
}
.description {
    padding: 0 30px;
}
.event img {
    width: 300px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}